<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>View Hackathon</title>
    <%- include("partials/main") -%>
</head>

<body>

    <%- include('partials/navigation') -%>

        <main>
            <div id="hackathons-container">
                <div class="mainbox">
                    <div class="boxitem">
                        <img src="<%=image.path%>" alt="">
                        <div class="boxcontent">
                            <h2>
                                <%= image.title %>
                            </h2>
                            <p>
                                <%= image.description %>
                            </p>
                            <span class="boxdate">
                                <%= format( image.created_at ) %>
                            </span>
                            <a href="/image/<%= image._id %>/delete" class="boxcontent">
                                Delete Hackathon
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </main>
</body>

</html>